/* src/styles.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --sprintly-blue: #0052FF;
    --sprintly-links: #3c6fdf;
    --font-family-modern: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--font-family-modern);
    margin: 0;
}