* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #2f2f2f;

}


footer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 70px 5% 50px;
    background: none;
    color: white;   
    text-align: center;

}

.footer-bg {
  position: absolute;
  top: 138px;               
  left: 0;
  width: 100%;
  height: 100%;
  background: #0052FF;
  z-index: 1;
}
.waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  z-index: 2;
  pointer-events: none;
}
.footer-inner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    gap: 15px;
}

.social-icons {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    font-size: 30px;
}
.social-icons a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-6px) scale(1.4);
}
.footer-links {
    display: flex;
    gap: 15px;
   
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.5;
    transition: 0.5s;
}


.footer-links a:hover {
    text-decoration: underline;
    opacity: 1;
}

.copyright {
    opacity: 0.8;
}


.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 140px;
  background-repeat: repeat-x;
  background-size: 50% 140px;
  animation: animateWave 12s linear infinite;
}



#wave1 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1600' height='140'><path fill='%230052FF' d='M0,40 Q200,90 400,40 T800,40 T1200,40 T1600,40 V140 H0 Z'/></svg>");
  opacity: 0.4;
  animation-duration: 8s;
  z-index: 4;
  opacity: 0.35;
}

#wave2 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1600' height='140'><path fill='%230052FF' d='M0,40 Q200,90 400,40 T800,40 T1200,40 T1600,40 V140 H0 Z'/></svg>");
  opacity: 0.6;
  animation-duration: 12s;
  z-index: 3;
  opacity: 0.25;
}

#wave3 {
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1600' height='140'><path fill='%230052FF' d='M0,40 Q200,90 400,40 T800,40 T1200,40 T1600,40 V140 H0 Z'/></svg>");  opacity: 0.5;
  animation-duration: 16s;
  z-index: 2;
  opacity: 0.19;
}

#wave4 {
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1600' height='140'><path fill='%230052FF' d='M0,40 Q200,90 400,40 T800,40 T1200,40 T1600,40 V140 H0 Z'/></svg>");  opacity: 0.3;
  animation-duration: 20s;
  z-index: 1;
  opacity: 0.14;
}

@keyframes animateWave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
#wave1 { opacity: 0.8; animation-duration: 8s; }
#wave2 { opacity: 0.7; animation-duration: 12s; }
#wave3 { opacity: 0.6; animation-duration: 16s; }
#wave4 { opacity: 0.5; animation-duration: 20s; }