* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


footer {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #0052FF;
    padding: 90px 0 40px;;
    color: white;   

}

.footer-inner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    gap: 15px;
}

.social-icons {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    font-size: 30px;
}
.social-icons a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-6px) scale(1.4);
}
.footer-links {
    display: flex;
    gap: 15px;
   
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.5;
    transition: 0.5s;
}


.footer-links a:hover {
    text-decoration: underline;
    opacity: 1;
}

.copyright {
    opacity: 0.8;
}
.waves {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  left: 0;
   pointer-events: none;
}

.wave {
  position: absolute;
  top: 0;
  width: 200%;
  height: 60px;
  transform: rotate(180deg);
  background-repeat: repeat-x;
  background-size: 50% 100px;
  animation: animateWave 10s linear infinite;
  z-index: 1;
}
.wave {
    mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1),
        rgba(0,0,0,0)
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1),
        rgba(0,0,0,0)
    );
}

#wave1 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1600" height="100"><path fill="%23ffffff" d="M0,30 Q150,80 300,30 T600,30 T900,30 T1200,30 T1500,30 V100 H0 Z"/></svg>');
  opacity: 0.4;
  animation-duration: 8s;
  z-index: 4;
  opacity: 0.35;
}

#wave2 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1600" height="100"><path fill="%23ffffff" d="M0,50 Q150,10 300,50 T600,50 T900,50 T1200,50 T1500,50 V100 H0 Z"/></svg>');
  opacity: 0.6;
  animation-duration: 12s;
  z-index: 3;
  opacity: 0.25;
}

#wave3 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1600" height="100"><path fill="%23ffffff" d="M0,40 Q150,60 300,40 T600,40 T900,40 T1200,40 T1500,40 V100 H0 Z"/></svg>');
  opacity: 0.5;
  animation-duration: 16s;
  z-index: 2;
  opacity: 0.19;
}

#wave4 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1600" height="100"><path fill="%23ffffff" d="M0,20 Q150,70 300,20 T600,20 T900,20 T1200,20 T1500,20 V100 H0 Z"/></svg>');
  opacity: 0.3;
  animation-duration: 20s;
  z-index: 1;
  opacity: 0.14;
}

@keyframes animateWave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}